
*{

    font-family: 'Karla', sans-serif;
}


h1, h2, h3, p, .h1, .h2, .h3, p{

    font-family: 'Lobster Two', cursive;

}




.root{

    --primary:#e3d5ca;
    --secondary:#6d6875;
    --darkC:#22223b;
    --lightc:#f4f1de;
    --sfondo:#eae4e9;
    --grigio:#9a8c98;

}


.text-primaryC{

    color: #e3d5ca;
}

.background-primaryB{

    background-color: #e3d5ca;
}

.text-grigio{

    color: #6d6875;
}

.text-secondaryC{

    color:#22223b;
}

.background-primaryC{

    background-color: #eae4e9;
}

.background-secondaryC{

    background-color: #9a8c98;
}

.background-dark{

    background-color: #22223b;
}

body{

    background-color: #eae4e9;
}


.headerCustom{
    
    background: linear-gradient(145deg,rgba(36, 36, 66, 0.116), rgb(230, 227, 250)), url(./media/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    

}


.btn-Custom{

    background-color: #6d6875;
    color: #e3d5ca;
    transition: 0.5s;

}


.btn-Custom:hover{
    background-color: rgb(34, 34, 59);
    color: #f4f1de;


}


.logoA{
    width: 45px;


}


.freccia{

    color: #6d6875;


}

#navIcon{
    transition: 0.5s;
}

#mainNavbar{

    transition: 0.5s;
    height: 70px;
}

.incrementNumber{

    font-size: 80px;
    color: #6d6875;
    font-weight: 900;
}


.swiper {
    width: 600px;
    height: 600px;
  }


  .card-custom{

    height: 300px;
    width: 300px;
    border: 4px solid;
    border-color: #22223b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .col-custom{

    border: 3px solid #22223b;
    color: #22223b;
    padding: 30px;
    border-radius: 10px;
    transition: 0.4s;

  }

  .col-custom:hover{

    background-color: #e3d5ca;
    color: #6d6875;
    transform: scale(1.2);
  }

  @media  screen and(max-width: 900px){

    .col-custom:hover{

        transform:scale(1.2)

    }

   
    
  }


  .min-h{

    min-height: 60px;
  }

  .footer-link{

    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #e3d5ca;
  }


  .footer-link:hover{

    color: white;
  }